<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- <link rel="stylesheet" href="module.css"> -->
</head>
<body>
    <main>

      
<section>
            <%results.forEach(data=>{%>
                <div>
                <p><%=data.name%></p>
                <p><%=data.house%></p>
                <p><%=data.patronus%></p>
                <p><%=data.is_alive%></p>

                <form action="/detail/<%=data.id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>


                </form>

                <form action="/detail/<%=data.id%>?_method=PUT" method="POST">
                    <input type="text" name="name" value="<%=data.name%>">
                    <input type="text" name="house" value="<%=data.house%>">
                    <input type="text" name="patronus" value="<%=data.patronus%>">
                    <input type="text" name="alive" value="<%=data.is_alive%>">
                    <button type="submit">Update</button>
                </form>
            </div>
                <%})%>
            </section>
    </main>


</body>
</html>